<!-- <h1>Anagram, Antigram, or Palindrome?</h1>
<form action="/anagram">
  <div class="form-group">
    <label for=word1">Please enter a word:</label>
    <input id=word1" name=word1" class="class-control" type="text">

    <label for=word2">Please enter another word to find out if these words are anagrams:</label>
    <input id=word2" name=word2" class="class-control" type="text">

  </div>
  <button type="submit" class="btn-success">Send</button>
</form> -->
