<h1>Anagram, Antigram, and Palindrome Checker</h1>
<form action="/result">
  <div id = "blanks">
    <input name="input1" type="text" placeholder="Enter a word here">
    <input name="input2" type="text" placeholder="Enter another word here">
  </div>
  <div class="result">
  <button type="submit" class="btn-success">Submit</button>
  </div>
</form>
