<h1>Anagram, "Antigram", or Palindrome?</h1>
<form action="/result">
  <div id = "blank">
    <input name="phrase" type="text" placeholder="Enter a phrase here">
  </div>
  <div class="result">
  <button type="submit" class="btn-success">Compare</button>
  </div>
</form>
